<app-header search="YES" (handleSearch)="searchData($event)"></app-header>
<ion-content>
  <ion-row class="header ion-align-items-center">
    <ion-col>
      <h5 class="p-0 m-0 title">Our Happy Users</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-item class="single-item">
      <ion-thumbnail slot="start" class="cart-img">
        <img src="../../../assets/image/users/alpesh.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Alpesh Kirana store</h2>
        <p>Review : Awesome app</p>
        <p>Since : 2019</p>
      </ion-label>
      <ion-thumbnail slot="end" class="cart-img">
        <img src="../../../assets/image/shop.jpg">
      </ion-thumbnail>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-item class="single-item">
      <ion-thumbnail slot="start" class="cart-img">
        <img src="../../../assets/image/users/soyab.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Classic Store</h2>
        <p>Review : Easy to use</p>
        <p>Since : 2020</p>
      </ion-label>
      <ion-thumbnail slot="end" class="cart-img">
        <img src="../../../assets/image/shop2.jpg">
      </ion-thumbnail>
    </ion-item>
  </ion-row>


</ion-content>