<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today-price">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Today's Price</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge color="danger">2</ion-badge>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>